.taskCard {
  width: 100%;
  min-width: 100px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
}

.taskText {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.taskCardBottomLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskDelete {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.taskDelete:hover {
  background-color: #ebebeb;
  background-color: rgb(253, 138, 118);
}

.deleteIcon {
  width: 20px;
  opacity: 50%;
  transition: all 0.3s ease-in-out;
}

.taskDelete:hover .deleteIcon {
  opacity: 100%;
}
