.app {
  display: grid;
  grid-template-rows: 150px auto;
}

.appMain {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.taskColumn {
  width: 33.33%;
  background-color: tomato;
  margin: 20px;
}
